.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(8px);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: space-between; /* espacio entre logo, buscador y botón */
  padding: 15px 20px;
  height: 65px;

}

.fixed-header.hide-on-scroll {
  transform: translateY(-100%);
}

.fixed-header.show-on-scroll {
  transform: translateY(0);
}



/* Titulo + Logo */
.brand-header {
  display: flex;
  align-items: center;
}

/* Logo de la web */
.brand-header img {
  height: 40px;
  margin-right: 10px;
}


:host-context(body.dark-mode) .brand-header img {
  filter:
    brightness(2)
    contrast(150%)
    drop-shadow(0 0 6px rgba(0, 255, 255, 0.5));
}


/* Nombre de la web */
.brand-title {
  font-size: 22px;
  font-weight: 600;
  color: #009BA5;
  font-family: monospace;
  letter-spacing: 2px;
}

@media (max-width: 899.98px) {
  .brand-title {
    display: none;
  }
}

@media (min-width: 900px) {
  .show-900 {
    display: flex !important;
  }
}

@media (max-width: 899.98px) {
  .show-900 {
    display: none !important;
  }
}



/* Barra de búsqueda */
/* Contenedor del buscador */
.search-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 17px;

  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 4px 10px;
  width: 28%;
  min-width: 245px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  gap: 8px;
}

/* Icono de la lupa */
.search-wrapper i {
  font-size: 1rem;
  color: #666;
}

/* Input de texto */
.search-bar {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
  background-color: transparent;
}

/* Select del filtro */
.search-select {
  border: none;
  background-color: transparent;
  font-size: 0.85rem;
  color: #333;
  outline: none;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  appearance: none;
}


/* Contenedor del select + ícono */
.filter-group {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 4px 8px;
  gap: 4px;
  font-size: 0.85rem;
  color: #333;
  min-width: 20px;
}

/* Icono del embudo */
.filter-group i {
  font-size: 1rem;
  color: #666;
}

/* Select estilizado */
.search-select {
  border: none;
  background-color: transparent;
  font-size: 0.85rem;
  color: #333;
  outline: none;
  cursor: pointer;
  appearance: none;
  width: -webkit-fill-available;
}



