<div class="fixed-header"
     [class.show-on-scroll]="showHeader"
     [class.hide-on-scroll]="hideHeader">

  <!-- Logo + Título -->
  <div class="brand-header d-md-flex">
    <img src="../../../../assets/logo/logo.png" alt="Logo Swapfy" />
    <span class="brand-title show-900">Ｓｗａｐｆｙ</span>
  </div>

  <!-- Buscador completo -->
  <div *ngIf="isSearchVisible" class="search-wrapper">
    <i class="bi bi-search"></i>

    <input
      type="text"
      placeholder="Buscar artículos..."
      class="search-bar"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange()"
    />

    <!-- Selector de campo con icono -->
    <div class="filter-group">
      <i class="bi bi-funnel-fill"></i>
      <select
        [(ngModel)]="selectedField"
        (change)="onSearchChange()"
        class="search-select"
      >
        <option value="title">Título</option>
        <option value="description">Descripción</option>

        <!-- Ocultar esta opción si estamos en /store -->
        <option *ngIf="router.url !== '/store'" value="userName">Usuario</option>

        <option value="tagNames">Etiqueta</option>
        <option value="email">Email</option>
      </select>
    </div>
  </div>
</div>
