<footer class="footer text-light shadow-sm">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col-md-4 mb-3">
        <img src="assets/logo/logo.png" alt="Swapfy Logo" class="footer-logo" />
        <h5 class="medium">Swapfy</h5>
      </div>

      <div class="col-md-4 mb-3">
        <h6>Ayuda</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/about" class="footer-link">Manual de usuario</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h6>Redes sociales</h6>
        <p class="small">swapfy&#64;gmail.com</p>
        <div class="social-icons">
          <i class="bi bi-instagram me-2" (click)="showComingSoonAlert()"></i>
          <i class="bi bi-twitter-x me-2" (click)="showComingSoonAlert()"></i>
        </div>
      </div>
    </div>
    <hr class="bg-light" />
    <p class="small mb-0">&copy; 2025 Swapfy. Todos los derechos reservados.</p>
  </div>
</footer>
