<app-navbar-wrapper></app-navbar-wrapper>

<app-loader *ngIf="isLoading"></app-loader>

<div class="chat-wrapper">
  <div class="chat-header">
    <div class="section-header mb-4">
      <span class="material-symbols-outlined">forum</span>
      <div>
        <span>Tus conversaciones</span>
      </div>
    </div>
  </div>

  <div class="message-info">
    <p>Gestiona tus mensajes privados</p>

    <button class="new-chat-btn" (click)="startNewChat()">
      <span class="material-symbols-outlined" style="color: white">add</span>
      Nuevo
    </button>
  </div>


  <div *ngIf="conversations.length > 0; else noChats">
    <ul>
      <li *ngFor="let convo of conversations" class="convo-item">
        <div class="convo-left" (click)="openChat(convo.userId)">
          <div class="convo-name">{{ convo.name }}</div>
          <div class="convo-message">{{ convo.lastMessage }}</div>
        </div>
        <div class="convo-right">
    <span class="unread-badge" *ngIf="unreadSummary[convo.userId]">
      {{ unreadSummary[convo.userId] }}
    </span>
          <button (click)="hide(convo.userId); $event.stopPropagation()" class="hide-btn">
            Ocultar
          </button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noChats>
    <div class="empty">
      <p>No tienes conversaciones todavía.</p>
      <p>Pulsa <strong>“Nuevo mensaje”</strong> para iniciar una.</p>
    </div>
  </ng-template>
</div>
