.form-control {
  background-color: white;
}

.container{
  color:black;
}

.input-group-text{
  color: black;
}

.btn-primary{
  margin:0 !important;
  background-color: var(--bs-btn-disabled-bg) !important;
}

.btn-outline-secondary{
  color: black !important;
}

.btn-success{
  background-color: var(--bs-btn-disabled-bg) !important;
}
