<app-navbar-wrapper></app-navbar-wrapper>

<div class="admin-dashboard-wrapper">
  <div class="admin-container">
    <div class="section-header mb-4">
      <i class="bi bi-tools me-2"></i>
      <span>Panel de Administración</span>
    </div>


    <div class="admin-grid">
      <a routerLink="/admin/users" class="admin-card shadow-sm">
        <i class="bi bi-people icon"></i>
        <h4 class="label">Usuarios</h4>
        <p class="desc">Gestiona los usuarios registrados</p>
      </a>

      <a routerLink="/admin/items" class="admin-card shadow-sm">
        <i class="bi bi-box-seam icon"></i>
        <h4 class="label">Artículos</h4>
        <p class="desc">Modifica o elimina publicaciones</p>
      </a>

      <a routerLink="/admin/tags" class="admin-card shadow-sm">
        <i class="bi bi-tags icon"></i>
        <h4 class="label">Etiquetas</h4>
        <p class="desc">Organiza tus categorías</p>
      </a>

      <a routerLink="/admin/credits" class="admin-card shadow-sm">
        <i class="bi bi-cash-coin icon"></i>
        <h4 class="label">Créditos</h4>
        <p class="desc">Gestiona los movimientos de crédito</p>
      </a>

      <a routerLink="/admin/messages-admin" class="admin-card shadow-sm">
        <i class="bi bi-chat-dots icon"></i>
        <h4 class="label">Chats</h4>
        <p class="desc">Gestiona las conversaciones entre los usuarios</p>
      </a>
    </div>
  </div>
</div>
