<div class="sidebar">
  <ul>
    <li><a routerLink="/home"><span class="icon">🏠</span> <span class="label">Inicio</span></a></li>
    <li><a routerLink="/store"><span class="icon">🛒</span> <span class="label">Mi tienda</span></a></li>
    <li><a routerLink="/chats"><span class="icon">💬</span> <span class="label">Chats</span></a></li>
    <li><a routerLink="/settings"><span class="icon">⚙️</span> <span class="label">Ajustes</span></a></li>
    <li><a routerLink="/credits"><span class="icon">💰</span> <span class="label">Créditos</span></a></li>
  </ul>
</div>
