<app-navbar-wrapper></app-navbar-wrapper>
<app-loader *ngIf="isLoading"></app-loader>

<div class="chat-container">
  <div class="messages" #messageContainer>
    <div
      *ngFor="let msg of messages"
      [class.me]="msg.senderUserId === userId"
      [class.other]="msg.senderUserId !== userId"
    >
      <ng-container *ngIf="isItemMessage(msg.content); else normalMessage">
        <div class="item-message">
          <span class="item-message-text fw-semibold text-secondary">
            {{ getItemText(msg.content) }}
          </span>
          <br>
          <ng-container *ngIf="getItemFromMessage(msg.content) as referencedItem; else itemNoDisponible">
            <app-item-card
              [item]="referencedItem"
              [showOwner]="true"
            ></app-item-card>
          </ng-container>

          <ng-template #itemNoDisponible>
            <div class="text-secondary">
              <em>Artículo no disponible</em>
            </div>
          </ng-template>

        </div>
        <small>{{ msg.timestamp | madridDate }}</small>
      </ng-container>

      <ng-template #normalMessage>
        <p>{{ msg.content }}</p>
        <small>{{ msg.timestamp | madridDate }}</small>
      </ng-template>

    </div>
  </div>

  <form (ngSubmit)="sendMessage()" class="input-area">
    <input
      #messageInput
      [(ngModel)]="content"
      name="message"
      placeholder="Escribe un mensaje..."
      [attr.maxLength]="maxLength"
      title="Máximo 500 caracteres"
      required
    />
    <button type="submit">
      <i class="bi bi-send-fill fs-5 text-white"></i>
    </button>
  </form>

</div>
