<!-- Spinner -->
<div class="spinner-overlay" *ngIf="isLoading">
  <app-loader></app-loader>
</div>


<app-navbar-wrapper></app-navbar-wrapper>

<div class="product-page">
  <!-- Formulario -->
  <div class="info-wrapper">
    <app-item-form
      [modo]="'crear'"
      [tagsDisponibles]="tagsDisponibles"
      [isLoading]="isLoading"
      (guardar)="crearItem($event)"
      (imagenSeleccionada)="onImagenSeleccionada($event)">
    </app-item-form>

    <p *ngIf="mensaje" class="text-success text-center mt-3">{{ mensaje }}</p>
  </div>
</div>
